/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    background-color: #000000;
    color: white;
    padding: 15px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container do Cabeçalho */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Título do App */
header h1 {
    margin: 0;
    font-size: 1.5em;
}

/* Estilos para o tabuleiro do jogo */
#game-board {
    position: relative; /* Garante que o tabuleiro seja posicionado em relação ao contêiner */
    z-index: 10; /* Coloca o tabuleiro acima de outros elementos */
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    pointer-events: auto; /* Garante que as células possam ser clicadas */
    z-index: 20; /* Garante que as células sejam clicáveis */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #cc6611;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #ff9900;
}

.revealed {
    background-color: red;
    color: #ffffff;
    pointer-events: none;
}

.prize {
    background-color: gold;
    color: black;
    font-size: 30px;
}

/* Botão PIX */
#pix-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#pix-button:hover {
    background-color: #45a049;
}

#pix-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#credit-menu {
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
}

/* Cronômetro */
#timer {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

/* QR Code */
#qrcode {
    display: none;
    margin: 20px auto;
    width: 200px;
    height: 200px;
}

/* Chave PIX */
#pix-key {
    display: none;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

/* Mensagens de vitória e derrota */
#win-message, #lose-message {
    display: none;
    font-size: 30px;
    margin-top: 20px;
}

#win-message {
    color: green;
}

#lose-message {
    color: red;
    cursor: pointer;
}

/* Estado do jogo liberado */
#game-liberado {
    display: none;
    font-size: 24px;
    margin-top: 20px;
    color: #4caf50;
    font-weight: bold;
}
